
.row {
    padding: 0 15px;
}

.modal__wrap {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    background: rgba(0, 0, 0, 0.5098039215686274);
    top: 0;
    left: 0;
    z-index: 99999;
    align-items: center;
    justify-content: center;
}

.modal__align {
    position: relative;
    display: block;
}

.modal__content {
    display: none;
    width: 100%;
    text-align: center;
    padding: 50px 15px;
    margin-top: 10px;
    max-width: 500px;
    position: relative;
    background: #FFF;
    color: #000;
}

.modal__sucess {
    color: #f9667e;
}

.modal__close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px 20px;
    font-size: 25px;
    color: #000;
    cursor: pointer;
    z-index: 10;
}

.selectCenter{
    width: 65px;
    margin: 5px auto 0px auto;
}

.responseForm{
    margin-top:20px;
}

.with-errors{
    color: red;
    font-size:12px;
    display:none;
}