/* ================================
	Noivos
=================================== */

.about_social a{
	display: inline-block;
    position: relative;
    cursor: pointer;
    width: 50px;
    height: 50px;
	text-align: center;
    color: #fff;
    font-size: 28px;
    font-weight: normal;
    line-height: 1.7em;
    border-radius: 25px;
    -moz-border-radius:25px;
    -webkit-border-radius:25px;
	margin:5px;
	border: 2px solid #fff;
	background: #7b7571 transparent;
}
.about_social a:hover{
	border: 2px solid #F9667E;
	background: #F9667E;
}

.title, .countdown_section, .about_topsign {
    font-family: 'Clicker Script', cursive;
}

.full_width_centered {
    width: 1100px;
    margin: auto;
}

.left12_first {
    width: 530px;
    float: left;
    margin: 0 40px 80px 0;
    clear: both;
}

.left12_last {
    width: 530px;
    float: left;
    margin: 0 0 80px 0;
}

.about_pic_container{
    position:relative;
    margin-top:40px;
}
.about_pic{
	background-color:#000000;
	padding:0px;
	margin:0px;
	overflow:hidden;
}
.about_pic img{
	width:100%;
	display:block;
	transition: opacity 0.7s, transform 0.7s;
	-webkit-transition: opacity 0.7s, -webkit-transform 0.7s;
}
.about_pic img::before, .about_pic img::after{
	transition: opacity 0.7s, transform 0.7s;
	-webkit-transition: opacity 0.7s, -webkit-transform 0.7s;
}
.about_pic_container:hover .about_pic img{
	opacity: 0.5;
	transform: scale(1.1);
}
span.about_picframe{
	border:1px #fff solid;
	display:block;
	width:94%;
	position:absolute;
	top:0px;
	left:0px;
	height:90%;
	margin:3%;
	z-index:777;
	opacity: 0.4;
	transition: opacity 0.7s, transform 0.7s;
	-webkit-transition: opacity 0.7s, -webkit-transform 0.7s;
}
span.about_picframe::after, span.about_picframe::before{
	transition: opacity 0.7s, transform 0.7s;
	-webkit-transition: opacity 0.7s, -webkit-transform 0.7s;
}

.about_social{
	position:absolute;
	top:0;
	width:100%;
	text-align:center;
	margin:auto;
	z-index:888;
	opacity: 0;
	transition: opacity 0.7s, transform 0.7s;
	-webkit-transition: opacity 0.7s, -webkit-transform 0.7s;
}
.about_social::before, .about_social::after{
	transition: opacity 0.7s, transform 0.7s;
	-webkit-transition: opacity 0.7s, -webkit-transform 0.7s;
}
.about_pic_container:hover .about_social{
	opacity: 1;
	transform: translateY(200%);
	-webkit-transform:translateY(200%);
}
.about_pic_container:hover span.about_picframe{
	opacity: 0.7;
}

@media screen and (max-width: 1180px){
    .left12_first {
        width: 48.28%;
        float: left;
        margin: 0 3.3% 80px 0;
        clear: both;
    }
    .full_width_centered {
        width: 94%;
        margin: auto 3%;
        padding: 20px 0;
    }
    
    .left12_last {
        width: 48.28%;
        float: left;
        margin: 0 0 80px 0;
    }
    }
    
@media screen and (max-width: 680px){
.left12_first {
    width: 94%;
    float: left;
    margin: 0 3% 80px 3%;
    clear: both;
}

.left12_last {
    width: 94%;
    float: left;
    margin: 0 3% 80px 3%;
}

.full_width_centered {
    width: 100%;
    margin: auto;
    padding: 20px 0;
}

.about_content {
    padding: 40px 0 0 0;
    position: relative;
}
}

.about_content p {
    padding: 20px 10px 0 10px;
}

.about_content h2{
    text-align: center;
}